* {
    font-family: Arial, Helvetica, sans-serif;
}

header h2 {
    color: green;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: beige;
    font-weight: bold;
}

/*Seletor de pseudo class - hover*/
nav ul li a:hover {
    background-color: burlywood;
}

/* Seletor por ID */
#uso-tabela {
    background-color: beige;
}

/* Seletor do filho imediado do id uso-tabela */
#uso-tabela>h3 {
    color: blue;
}

/* Estilizando a tabela */
#uso-tabela table thead tr {
    background-color: black;
    color: white;
}

/* Usando mais uma pseudo class para estilizar */
#uso-tabela table tbody tr:nth-child(odd) {
    /* linhas impares*/
    background-color: silver;
}

#uso-tabela table tbody tr:nth-child(even) {
    /* linhas par*/
    background-color: white;
}

#uso-tabela table tbody tr:hover {
    background-color: chocolate;
}
/* Uso da pseudo class focus */
#uso-formulario form input:focus{
    background-color: mistyrose;
}
/* Selecionando mais de um elemento para aplicar um estilo comum */
th, td { /*todos th e todos td */
    font-family: 'Courier New', Courier, monospace;
}
/* Selecionando irmãos posteriores */
h3 ~ p {
    color: blueviolet;
}
/* Selecionando irmãos imediado */
h3 + p {
    color: pink;
}
p {
    color: brown !important; /* força a aplicação */
}
/* Iniciando as classes para o menu */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline-block;
    position: relative;
}
.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.submenu li{
    display: block;
    width: 150px;
}
.tem-submenu:hover .submenu {
    display: block;
}
.menu li a:hover {
    background-color: #ddd;
}
/* Uso de seletor por atributo */
p[data-detalhe] {
    text-decoration: underline;
}
p[data-detalhe="linha3"] {
    background-color: aqua;
}