* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
fieldset {
    margin-top: 5px;
    margin-bottom: 5px;
}
.img-edit, .img-delete {
    width: 25px;
}
.img-delete {
    cursor: pointer;
}
.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.15);
}
.modal-msg {
    width: 400px;
    height: 80px;
    margin: 15% auto;
    background-color: white;
    padding: 10px;
    box-shadow: 9px 9px 5px 5px rgba(0,0,0,0.64);
    border: solid 1px silver;
    border-radius: 5px;
    color: blue;
    text-align: center;
}
.modal.show {
    display: block;
} 